<% var title="Quizz " + quiz.nom + "" %>

<%- include('header.ejs', { title: title }) %>


    <div class="banner flex">
        <h2>Tester vos compétences techniques sur du <%= quiz.nom %></h2>
    </div>
    <div class="flex-only container-body">
        <div class="body-cart body-description">
            <div class="flex space-between">
                <div class="bloc-info <%= quiz.type_code === 'front' ? 'border-sand' : 'border-dark-blue' %>">
                    <div class="<%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-blue' %>">
                        <i class="fa-solid fa-question"></i>
                        <p class="uppercase">Questions</p>
                    </div>
                    <div class="text-align <%= quiz.type_code === 'front' ? 'color-peach' : 'color-dark-blue' %>"><%= quiz.nb_questions %></div>
                    
                </div>
                <div class="bloc-info <%= quiz.type_code === 'front' ? 'border-sand' : 'border-dark-blue' %>">
                    <div class="<%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-blue' %>">
                        <i class="fa-regular fa-clock"></i>
                        <p class="uppercase">Minutes</p>
                    </div>
                    <div class="text-align <%= quiz.type_code === 'front' ? 'color-peach' : 'color-dark-blue' %>"><%= quiz.temps_minutes %></div>
                </div>
                <div class="bloc-info <%= quiz.type_code === 'front' ? 'border-sand' : 'border-dark-blue' %>">
                    <div class="<%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-blue' %>">
                        <i class="fa-solid fa-medal"></i>
                        <p class="uppercase">Niveau</p>
                    </div>
                    <div class="text-align <%= quiz.type_code === 'front' ? 'color-peach' : 'color-dark-blue' %> uppercase"><%= quiz.niveau %></div>
                </div>
            </div>
            <div class="text-description <%= quiz.type_code === 'front' ? 'border-kaki' : 'border-dark-blue' %>">
                <h4 class="uppercase <%= quiz.type_code === 'front' ? 'color-kaki' : 'color-dark-blue' %>">Description</h4>
                <p class="mb-10"><%= quiz.description %></p>
                <p>Objectif du test : </p>
                <ul>
                    <li>Tester et renforcer vos connaissances en identifiant les domaines où des améliorations sont nécessaires</li>
                    <li>le quiz offre une approche pratique en résolvant des problèmes</li>
                    <li>permet de comprendre les erreurs commises et de les corriger</li>
                </ul>
            </div>
            <div class="flex space-between gap-5">
                <div class="btn-back uppercase ">
                    <a href="#" class="flex-only">
                        <div><i class="fa-solid fa-arrow-left-long <%= quiz.type_code === 'front' ? 'color-kaki' : 'color-turquoise' %>"></i></div>
                        <div class="flex <%= quiz.type_code === 'front' ? 'bg-kaki border-kaki' : 'bg-turquoise border-turquoise' %>">Retour</div>
                    </a>
                </div>
                <div class="btn-start uppercase <%= quiz.type_code === 'front' ? 'bg-kaki border-kaki' : 'bg-turquoise border-turquoise' %>"><a href="/quiz/<%= quiz.id  %>">Commencer</a></div>
            </div>
        </div>
        <div class="navbar <%= quiz.type_code === 'front' ? 'bg-sand' : 'bg-dark-blue navbar-back' %>">

            <div>
                <h1>CONSOLIFY</h1>
                <div class="horizontal-line <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                <div>
                    <a href="/" class="uppercase flex navbar-icon <%= quiz.type_code === 'front' ? 'navbar-hover-front' : 'navbar-hover-back' %>">
                        <div>Home</div>
                        <i class="fa-solid fa-house"></i>
                    </a>
                </div>
                <div class="horizontal-line <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                <% if (typeof pseudo == 'undefined') { %>
                    <div class="navbar-btn">
                        <div type="button" class="btn-login uppercase">
                            <a href="/login" class="flex">
                                <p>Connexion</p>
                                <i class="fa-solid fa-user"></i>
                            </a>
                        </div>
                        <div type="button" class="btn-register <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-white' %> uppercase">
                            <a href="/register" class="flex <%= quiz.type_code === 'front' ? 'color-white' : 'color-dark-blue' %>">
                                <p>S'inscrire</p>
                                <i class="fa-solid fa-user-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="horizontal-line <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                    <% } else { %>
                        <div class="navbar-btn">
                            <% if (isAdmin) {  %>
                            <div class="horizontal-line <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                            <div type="button">
                                <a href="/admin-home"  class="uppercase flex navbar-icon <%= quiz.type_code === 'front' ? 'navbar-hover-front' : 'navbar-hover-back' %> ">
                                    <p>Back-office</p>
                                    <i class="fa-solid fa-gear"></i>
                                </a>
                            </div>
                            <div class="horizontal-line <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                            <% } %>
                            <div type="button" style="margin-bottom: 0;">
                                <a href="/logout" class="uppercase flex navbar-icon <%= quiz.type_code === 'front' ? 'navbar-hover-front' : 'navbar-hover-back' %>">
                                    <p>Se déconnecter</p>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                        <div class="horizontal-line m-0 <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                    <% } %>
                <div id="toggleDiv" class="flex navbar-icon no-padding <%= quiz.type_code === 'front' ? 'navbar-hover-front' : 'navbar-hover-back' %>">
                    <p class="uppercase no-margin">Thèmes</p>
                    <i class="fa-solid fa-chevron-up rotate-icon"></i>
                </div>
                <div class="nav-category">
                    <% allQuizzes.forEach(function (oneQuiz) { %>
                    <div class="horizontal-line <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                    <a href="/quiz-description/<%= oneQuiz.id %>" class="uppercase"><%= oneQuiz.nom %></a>
                   
                    <% }) %>
                </div>
            </div>

            <footer>
                <div class="flex" id="toggleFooter">
                    <i class="fa-solid fa-chevron-up rotate-icon"></i>
                </div>
                <div class="horizontal-line <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                <div class="flex-only">
                    <div class="animation-footer-link <%= quiz.type_code === 'front' ? 'animation-link-sand' : 'animation-link-dark' %>">
                        <p><a href="#">CGU</a></p>
                        <p><a href="#">Politique de confidentialité</a></p>
                    </div>
                    <div class="animation-footer-link <%= quiz.type_code === 'front' ? 'animation-link-sand' : 'animation-link-dark' %>">
                        <p><a href="#">Contact</a></p>
                        <p><a href="#">A propos</a></p>
                    </div>
                </div>
                <div class="horizontal-line <%= quiz.type_code === 'front' ? 'bg-peach' : 'bg-dark-horizontal-line' %>"></div>
                <p>Copyright &copy; 2023 - Tous droits réservés</p>
            </footer>
        </div>
    </div>
</body>
</html>